.tiles_remonty_one {

position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;
}

.txt_tiles_remonty {

position: absolute;
width: 708px;
height: 77px;
left: 56px;
top: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;

color: #000000;
}


.button_back {

position: absolute;
width: 188px;
height: 77px;
left: 899px;
top: 926px;
}


.box_back {

position: absolute;
width: 188px;
height: 77px;
left: 899px;
top: 926px;

background: #8AB6F6;
}

.txt_back {

position: absolute;
width: 175px;
height: 47px;
left: 906px;
top: 941px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;

}

.button_edit {

position: absolute;
width: 188px;
height: 77px;
left: 316px;
top: 849px;
}


.box_edit {

position: absolute;
width: 188px;
height: 77px;
left: 316px;
top: 849px;

background: #8AB6F6;
}

.txt_edit {

position: absolute;
width: 175px;
height: 47px;
left: 323px;
top: 864px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;
}


.button_map_remonty {

position: absolute;
width: 120px;
height: 121px;
left: 1648px;
top: 183px;
}


.box_map_r {

position: absolute;
width: 120px;
height: 121px;
left: 1648px;
top: 183px;

background: #8AB6F6;
}

.icon_map_r {

position: absolute;
width: 92.57px;
height: 89.06px;
left: 1661.71px;
top: 199.46px;

/* background: url(0dcfaeb8efd1b547926fcc14d6dd65e5-removebg-preview.png); */
}

.button_list_remonty {

position: absolute;
width: 120px;
height: 121px;
left: 1648px;
top: 372px;
}


.box_list_r {

position: absolute;
width: 120px;
height: 121px;
left: 1648px;
top: 372px;

background: #8AB6F6;
}

.icon_list_r {

position: absolute;
width: 86.69px;
height: 84.7px;
left: 1664.65px;
top: 390.39px;

/* background: url(png-clipart-computer-icons-big-data-database-big-thumb-miscellaneous-angle-removebg-preview); */
}

.button_tiles_remonty {

position: absolute;
width: 120px;
height: 121px;
left: 1648px;
top: 561px;
}


.box_tiles_r {

position: absolute;
width: 120px;
height: 121px;
left: 1648px;
top: 561px;

background: #8AB6F6;
}

.icon_tiles_r {

position: absolute;
width: 97.96px;
height: 90.35px;
left: 1665.14px;
top: 579.55px;

/* background: url(image.png); */
}

.txt_attributes {

position: absolute;
width: 169px;
height: 367px;
left: 824px;
top: 356px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #000000;
}


.txt_values {

position: absolute;
width: 337px;
height: 367px;
left: 1020px;
top: 356px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;
}


.map {

position: absolute;
width: 493px;
height: 540px;
left: 163px;
top: 270px;

/* background: url(image); */
}

.info {

position: absolute;
width: 100px;
height: 100px;
left: 1800px;
top: 20px;

/* background: url(image.png); */
}

.button_menu {

position: absolute;
width: 184.17px;
height: 182.33px;
left: 1616px;
top: 714px;
}


.box_menu {

position: absolute;
width: 131.05px;
height: 121px;
left: 1643.15px;
top: 744.39px;

background: #8AB6F6;
}

.icon_menu {

position: absolute;
width: 184.17px;
height: 182.33px;
left: 1616px;
top: 714px;

/* background: url(image.png); */
}