.b_menu {

position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;
}

.txt_menu {

position: absolute;
width: 177px;
height: 77px;
left: 871px;
top: 56px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 64px;
line-height: 77px;

color: #000000;
}


.txt_remonty {

position: absolute;
width: 299px;
height: 66px;
left: 310px;
top: 474px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;
}


.txt_pracownicy {

position: absolute;
width: 299px;
height: 66px;
left: 1328px;
top: 474px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;
}


.img_remonty {

position: absolute;
width: 405.87px;
height: 250px;
left: 259px;
top: 210px;

background: url(image);
}

.img_pracownicy {

position: absolute;
width: 445.18px;
height: 250px;
left: 1255px;
top: 210px;

background: url(image);
}

.divider {

position: absolute;
width: 721px;
height: 0px;
left: 960px;
top: 179px;

background: #D9D9D9;
border: 5px solid #000000;
transform: rotate(90deg);
}

.button_map_remonty {

position: absolute;
width: 245px;
height: 250px;
left: 135px;
top: 584px;
}


.box_map_r {

position: absolute;
width: 245px;
height: 250px;
left: 135px;
top: 584px;

background: #8AB6F6;
}

.icon_map_r {

position: absolute;
width: 189px;
height: 184px;
left: 163px;
top: 618px;

background: url(0dcfaeb8efd1b547926fcc14d6dd65e5-removebg-preview.png);
}

.button_list_remonty {

position: absolute;
width: 245px;
height: 250px;
left: 540px;
top: 584px;
}


.box_list_r {

position: absolute;
width: 245px;
height: 250px;
left: 540px;
top: 584px;

background: #8AB6F6;
}

.icon_list_r {

position: absolute;
width: 177px;
height: 175px;
left: 574px;
top: 622px;

background: url(png-clipart-computer-icons-big-data-database-big-thumb-miscellaneous-angle-removebg-preview);
}

.button_map_pracownicy {

position: absolute;
width: 245px;
height: 250px;
left: 1153px;
top: 584px;
}


.box_map_p {

position: absolute;
width: 245px;
height: 250px;
left: 1153px;
top: 584px;

background: #8AB6F6;
}

.icon_map_p {

position: absolute;
width: 189px;
height: 184px;
left: 1181px;
top: 618px;

background: url(0dcfaeb8efd1b547926fcc14d6dd65e5-removebg-preview.png);
}

.button_list_pracownicy {

position: absolute;
width: 245px;
height: 250px;
left: 1558px;
top: 584px;
}


.box_list_p {

position: absolute;
width: 245px;
height: 250px;
left: 1558px;
top: 584px;

background: #8AB6F6;
}

.icon_list_p {

position: absolute;
width: 177px;
height: 175px;
left: 1592px;
top: 622px;

background: url(png-clipart-computer-icons-big-data-database-big-thumb-miscellaneous-angle-removebg-preview);
}

.txt_map_remonty {

position: absolute;
width: 95px;
height: 44px;
left: 210px;
top: 878px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */
text-align: center;

color: #000000;
}


.txt_list_remonty {

position: absolute;
width: 218px;
height: 44px;
left: 555px;
top: 878px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */
text-align: center;

color: #000000;
}


.txt_map_pracownicy {

position: absolute;
width: 95px;
height: 44px;
left: 1227px;
top: 878px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */
text-align: center;

color: #000000;
}


.txt_list_pracownicy {

position: absolute;
width: 218px;
height: 44px;
left: 1572px;
top: 878px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */
text-align: center;

color: #000000;
}


.info {

position: absolute;
width: 100px;
height: 100px;
left: 1790px;
top: 33px;

background: url(image.png);
}