.choice {
  position: absolute;
  width: 100vw;
  height: 100vh; 
  background: #ffffff;
  transform: translate(-75%, -50%);
}

.log-in2 {
  position: absolute;
  width: 50vw; 
  height: 100vh;
  left: 0;
  top: 0;
}

.box_login2 {
  position: absolute;
  width: 100%; 
  height: 100%; 
  background: #77db54;
}

.txt_login2 {
  position: absolute;
  width: 41.25vw; 
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(10%, -50%);
  font-family: "Segoe Print";
  font-style: normal;
  font-weight: 400;
  font-size: 5vw; 
  line-height: 1.3;
  text-align: center;
  color: #000000;
}

.guest2 {
  position: absolute;
  width: 50vw; 
  height: 100vh;
  left: 50vw;
  top: 0;
}

.box_guest2 {
  position: absolute;
  width: 100%; 
  height: 100%; 
  background: #80d6e1;
}

.txt_guest2 {
  position: absolute;
  width: 50vw; 
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  font-family: "Segoe Print";
  font-style: normal;
  font-weight: 400;
  font-size: 5vw; 
  line-height: 1.3;
  text-align: center;
  color: #000000;
}

.info2i {
  position: absolute;
  width: 5vw; 
  height: 5vw; 
  left: 68vw; 
  top: 3.24vh;
  background-size: contain;
  background-repeat: no-repeat;
}
