.a_list_pracownicy {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
}

.txt_list_pracownicy9a {
    position: relative;
    width: 60vw;
    height: 7.12vh;
    left: -5vw;
    top: -3vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 3vw;
    line-height: 7.12vh;
    text-align: center;
    color: #160808;
}

.sortuj9a {
    position: relative;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.filtruj9a {
    position: relative;
    margin-bottom: 5vh;
}

.database9a {
    position: absolute;
    width: 94.27vw;
    height: 62.22vh;
    left: 2.92vw;
    top: 4.44vh;
    /* background: url(image); */
}

.tabela9a {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.tabela9a th, .tabela9a td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.tabela9a th {
    background-color: #f2f2f2;
    color: #333;
}

.tabela9a tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabela9a tr:hover {
    background-color: #ddd;
}

.button_map_pracownicy9a {
    position: absolute;
    width: 4.5vw;
    height: 9vh;
    left: 77vw;
    top: -7vh;
}

.box_map_r9a {
    position: absolute;
    width: 4.5vw;
    height: 9vh;
    left: 1vw;
    top: 6.48vh;
    background: #8AB6F6;
}

.icon_map_r9a {
    position: absolute;
    width: 4.0vw;
    height: 8.5vh;
    left: 0.2vw;
    top: 0.1vh;
    /* background: url(0dcfaeb8efd1b547926fcc14d6dd65e5-removebg-preview.png); */
}

.button_tiles_pracownicy9a {
    position: absolute;
    width: 4.5vw;
    height: 9vh;
    left: 83.77vw;
    top: -7vh;
}

.box_tiles_r9a {
    position: absolute;
    width: 4.5vw;
    height: 9vh;
    left: 0.1vw;
    top: 6.48vh;
    background: #8AB6F6;
}

.icon_tiles_r9a {
    position: absolute;
    width: 4vw;
    height: 8.5vh;
    left: 0.1vw;
    top: 0vh;
}

.info9ai {
    position: absolute;
    width: 3.13vw;
    height: 5.56vh;
    left: 90vw;
    top: 0.83vh;
    /* background: url(image.png); */
}

.button_menu9a {
    position: absolute;
    width: 4.5vw;
    height: 9vh;
    left: 71.8vw;
    top: -6.8vh;
}

.box_menu9a {
    position: absolute;
    width: 4.5vw;
    height: 9vh;
    left: 0.1vw;
    top: 6.48vh;
    background: #8AB6F6;
}

.icon_menu9a {
    position: absolute;
    width: 4vw;
    height: 9.5vh;
    left: 0.2vw;
    top: -0.5vh;
    /* background: url(image.png); */
}
