.start {
position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;
}

.txt_title {

position: absolute;
width: 1251px;
height: 77px;
left: 357px;
top: 73px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;

color: #000000;
}


.txt_explanation {

position: absolute;
width: 1104px;
height: 96px;
left: 408px;
top: 172px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;
}


.button_start {

position: absolute;
width: 397px;
height: 93px;
left: 761px;
top: 936px;
}


.box_start {

position: absolute;
width: 397px;
height: 93px;
left: 761px;
top: 936px;

background: #88E38B;
}

.txt_start {

position: absolute;
width: 268px;
height: 58px;
left: 826px;
top: 954px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
/* identical to box height */
text-align: center;

color: #000000;
}


.img {

position: absolute;
width: 1431px;
height: 573px;
left: 244px;
top: 317px;

background: url(image);
}

.button_about {

position: absolute;
width: 298px;
height: 70px;
left: 1576px;
top: 948px;
}


.box_about {

position: absolute;
width: 298px;
height: 70px;
left: 1576px;
top: 948px;

background: #88E38B;
}

.txt_about {

position: absolute;
width: 248px;
height: 48px;
left: 1601px;
top: 959px;

font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;
}
